.create-room .search-input {
  --background: var(--color-light-step-2);
  --box-shadow: none;
  --border-radius: 20px;
}
.create-room ion-icon {
  font-size: var(--icon-md);
}
.create-room ion-col {
  display: flex;
  align-items: center;
}
