ion-tab-button {
  background: #fff;
}
ion-tab-button {
  --color: var(--color-light-step-1);
  --color-selected: var(--color-dark);
}
.modal-btn {
  --background: var(--color-dark);
  --box-shadow: 0;
  --border-radius: 20px;
  min-height: 20px;
  text-transform: capitalize;
}
ion-tab-button .log-out ion-icon {
  color: red;
  font-size: 25px;
}
